%p#notice= notice

%p
  %b Id:
  = @operator.id
%p
  %b Title:
  = @operator.title
%p
  %b Comment:
  = @operator.comment
%p
  %b Site url:
  = @operator.site_url
%p
  %b Rating:
  = @operator.rating
%p
  %b Controller:
  = @operator.controller

= link_to 'Edit', edit_operator_path(@operator)
\|
= link_to 'Back', operators_path
