%h1 New import

//= render 'form'

= simple_form_for(@import, :html => {:multipart => true}) do |f|
  = f.error_notification

  .form-actions
    = f.file_field :file

  .form-actions
    = f.button :submit, "Upload"
= link_to 'Back', imports_path
