= simple_form_for(@place) do |f|
  = f.error_notification

  .form-inputs
    = f.input :id
    = f.input :hash
    = f.input :operator_id
    = f.input :address
    = f.input :address_orig
    = f.input :side
    = f.input :region
    = f.input :gid
    = f.input :illumination
    = f.input :grp
    = f.input :ots
    = f.input :type
    = f.input :price
    = f.input :price_rub
    = f.input :price_usd
    = f.input :nds
    = f.input :photo
    = f.input :latitude
    = f.input :longitude
    = f.input :date
    = f.input :year_current_1
    = f.input :year_current_2
    = f.input :year_current_3
    = f.input :year_current_4
    = f.input :year_current_5
    = f.input :year_current_6
    = f.input :year_current_7
    = f.input :year_current_8
    = f.input :year_current_9
    = f.input :year_current_10
    = f.input :year_current_11
    = f.input :year_current_12
    = f.input :year_next_1
    = f.input :year_next_2
    = f.input :year_next_3
    = f.input :year_next_4
    = f.input :year_next_5
    = f.input :year_next_6
    = f.input :year_next_7
    = f.input :year_next_8
    = f.input :year_next_9
    = f.input :year_next_10
    = f.input :year_next_11
    = f.input :year_next_12

  .form-actions
    = f.button :submit
