%p#notice= notice

%p
  %b Id:
  = @place.id
%p
  %b Hash:
  = @place.hash
%p
  %b Operator:
  = @place.operator_id
%p
  %b Address:
  = @place.address
%p
  %b Address orig:
  = @place.address_orig
%p
  %b Side:
  = @place.side
%p
  %b Region:
  = @place.region
%p
  %b Gid:
  = @place.gid
%p
  %b Illumination:
  = @place.illumination
%p
  %b Grp:
  = @place.grp
%p
  %b Ots:
  = @place.ots
%p
  %b Type:
  = @place.type
%p
  %b Price:
  = @place.price
%p
  %b Price rub:
  = @place.price_rub
%p
  %b Price usd:
  = @place.price_usd
%p
  %b Nds:
  = @place.nds
%p
  %b Photo:
  = @place.photo
%p
  %b Latitude:
  = @place.latitude
%p
  %b Longitude:
  = @place.longitude
%p
  %b Date:
  = @place.date
%p
  %b Year current 1:
  = @place.year_current_1
%p
  %b Year current 2:
  = @place.year_current_2
%p
  %b Year current 3:
  = @place.year_current_3
%p
  %b Year current 4:
  = @place.year_current_4
%p
  %b Year current 5:
  = @place.year_current_5
%p
  %b Year current 6:
  = @place.year_current_6
%p
  %b Year current 7:
  = @place.year_current_7
%p
  %b Year current 8:
  = @place.year_current_8
%p
  %b Year current 9:
  = @place.year_current_9
%p
  %b Year current 10:
  = @place.year_current_10
%p
  %b Year current 11:
  = @place.year_current_11
%p
  %b Year current 12:
  = @place.year_current_12
%p
  %b Year next 1:
  = @place.year_next_1
%p
  %b Year next 2:
  = @place.year_next_2
%p
  %b Year next 3:
  = @place.year_next_3
%p
  %b Year next 4:
  = @place.year_next_4
%p
  %b Year next 5:
  = @place.year_next_5
%p
  %b Year next 6:
  = @place.year_next_6
%p
  %b Year next 7:
  = @place.year_next_7
%p
  %b Year next 8:
  = @place.year_next_8
%p
  %b Year next 9:
  = @place.year_next_9
%p
  %b Year next 10:
  = @place.year_next_10
%p
  %b Year next 11:
  = @place.year_next_11
%p
  %b Year next 12:
  = @place.year_next_12

= link_to 'Edit', edit_place_path(@place)
\|
= link_to 'Back', places_path
